################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITF_Blockchain_Search_Web/v15
/node_modules
